    <div class="row py-5">
      <div class="col-md-6 order-md-1 mb-4">
        <h4 class="mb-3">Import Wizard</h4>
        <p class="text-muted">Import products into store using images, text or CSV</p>

        <form class="needs-validation" novalidate action="import_books" data-remote="true" method="post">
          <div class="mb-4">
            <label for="product-data">Content</label>
            <textarea rows="10" class="form-control" id="product-data" name="product-data"placeholder="Copy paste the product content here ( 1 per line )"></textarea>
            <div class="invalid-feedback">
              Please enter a message.
            </div>
          </div>
          <p class="py-3"> or you can choose into import a file instead </p>

          <div class="form-group">
            <label for="exampleFormControlFile1">Product CSV</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>

          <div class="form-group row">
            <div class="col-md-5">
              <label for="inputState">Product type</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>Books</option>
                <option>Groceries</option>
                <option>Clothing</option>
                <option>Others</option>
              </select>
            </div>
          </div>

          <hr class="mt-4">

          <div class="custom-control custom-checkbox mb-5">
            <input type="checkbox" class="custom-control-input" id="eu-countries">
            <label class="custom-control-label" for="eu-countries">Import images</label>
          </div>
        

          <button class="btn btn-primary btn-block" type="submit">Launch Import Wizard</button>
          <!-- <div class="btn btn-primary btn-block">
            <%= link_to 'Launch Import Wizard', create_sample_product_path, class: "btn" %>
          </div> -->
        </form>
      </div>


    <%- if @products.present? %>

         <div class="col-md-6 order-md-2">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span>Imported products</span>
            </h4>
            <p class="text-muted">You can edit the info below</p>


          <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Author</th>
        </tr>
      </thead>
      <tbody>
        <%- @products.each_with_index do |product, i| %>
          <tr class="overflow-auto product-row">
            <th scope="row"><%= "#{i+1}" %></th>
            <td><%= image_tag("#{product[:image]}") %></td>
            <td><%= product[:title] %></td>
            <td><%= product[:description].truncate(150) %></td>
            <td><%= product[:authors].present? ? product[:authors].join(', ') : '' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>

  <%- end %>
      <!-- <div class="col-md-4 order-md-2">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span>Design Settings</span>
        </h4>
        <p class="text-muted">Change the design of your banner</p>

        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">Banner</h6>
            <input class="color-picker" id="color-banner" value='#000000' />
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">Banner Text</h6>
            <input class="color-picker" id="color-banner-text" value='#ffffff' />
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">Banner Link</h6>
            <input class="color-picker" id="color-banner-link" value='#ffffff' />
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">Button</h6>
            <input class="color-picker" id="color-button" value='#000000' />

          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">Button Text</h6>
            <input class="color-picker" id="color-button-text" value='#4FC3F7' />
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <h6 class="my-0">Button Border</h6>
            <input class="color-picker" id="color-button-border" value='#4FC3F7' />
          </li>
        </ul>
      </div>
    </div>
      

<!--     <div class="preview-holder" style="display: block;">
     <div class="preview-cookie-bar" style="background-color: rgb(0, 0, 0); color: rgb(255, 255, 255);">
       <div class="seven">
         <span class="bar-text-wrapper">
           <span class="bar-message">This website uses cookies to ensure you get the best experience on our website.</span>
           <span class="bar-link"><a class="cc-link" href="https://geeky-design.myshopify.com/policies/privacy-policy" target="_blank" style="color: rgb(255, 255, 255);">Learn More</a></span>
         </span>
       </div>
       <div class="three">
         <a class="cc-dismiss" style="color: rgb(255, 112, 67); background-color: rgb(0, 0, 0); border-color: rgb(255, 112, 67);">Got it!</a>
       </div>
     </div>
   </div> -->


    <!-- <footer class="my-5 pt-5 text-muted text-center text-small">  
      <p class="mb-1">&copy; 2017-2019 Company Name</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
      </ul>
    </footer> -->
  </div>